/* Default styles for all screens */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for screens that are at least 768px wide */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}

/* Styles for screens that are at least 992px wide */
@media screen and (min-width: 992px) {
  body {
    font-size: 20px;
    line-height: 1.7;
  }
}

*{
    margin: 0;padding: 0;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: url(../image/train4.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.head{
    font-size: 60px;
    margin-left: 160px;
    margin-top: 1%;
    color: rgb(219, 50, 20);
}
.submit-btn
{
	width: 10%;
    height: 50px;
	cursor: pointer;
	margin: auto;
	background-color:rgb(211, 211, 211);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.butn{
    width: 45%;
    margin-top: 23%;
    margin-left: 80px;
}
#btn1{
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}
#btn2{
    height: 60px;
    width: 200px;
    margin-left: 30px; 
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
}
#btn{
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(4, 255, 38);
}
